body {
    background-color: lightskyblue;
    font-family: Arial, Helvetica, sans-serif;
} /* Comentários */

p {
    font-size: 12px;
    text-align: justify;
}

h1 {
    color: red;
    font-size: 30px;
}

h2 {
    color: green;
    font-size: 20px;
}