* {
    margin: 0px;
    padding: 0px;
}
html, body {
    height: 100vh;
    width: 100vw;
}
body {
    background: url('../imagens/fundo-madeira.jpg') no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}
main {
    height: 100vh;
    position: relative;
}
section#telefone {
    height: 627px;
    width: 311px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: url('../imagens/frame-iphone.png') no-repeat;
}
iframe#tela {
    position: relative;
    top: 80px;
    left: 22px;
    height: 471px;
    width: 267px;
}